@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {font-family: 'Merriweather Sans', sans-serif;
      font-weight: 300;
      color: #9D6E62;
      margin: 0;
      padding: 0;
      border: none;
}

/* title and menu */
h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6E629D;
}
#logo {
      float: left;
      font-size: 300%;
      margin-left: 30px; 
}

#menu {
      font-size: 200%;
      letter-spacing: 3px;       
}

#menu, #logo {
      line-height: 90px;
}

#menu li {
      float: right;
      list-style-type: none;
      margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #9D6E62;
}

.selected {
    border-bottom: 1px solid #9D6E62;
}

/*section 1 */

#main-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#main-image {
    height: 300px;
    width: 100%;
    background: url('../images/Main_IMG_7411.jpg') no-repeat center;
    object-fit: contain;
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;  
}

@keyframes main-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.1);}
}

.text {color:#9D6E62;}

.background {
    background-color: #629D6E;
}

.text-center {
    text-align: center;
}