@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {font-family: 'Merriweather Sans', sans-serif;
      font-weight: 300;
      margin: 0;
      padding: 10px;
      color: #FEE715FF;
      background-color: #101820FF;
}

/* title and menu */

.page-header {
    background-color: #101820FF;
    height: auto;
    background: center 75% / cover no-repeat;
    height: 150px;
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #FEE715FF;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform:none;
    background-color: #FEE715FF;
    color: #101820FF;
    text-align:justify;
}

h3 {    
    font-family: 'Merriweather Sans', sans-serif;
    color: #FEE715FF;
}

h4 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform:none;
    background-color: #FEE715FF;
    color: #101820FF;
    text-align:justify;
}

.logo {
      float: left;
      font-size: 250%;
      margin-left: 20px;
       
}

#menu {
      font-size: 200%;
      letter-spacing: 3px;
      line-height: 90px;       
}

#menu li {
      float: right;
      list-style-type: none;
      margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: #FEE715FF;
}

#menu a:hover {
    border-bottom: 1px solid #FEE715FF;
}

.selected {
    border-bottom: 1px solid #FEE715FF;
}

/*section 1 */

#section1 {
    height: 300px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#main-image {
    height: 300px;
    width: 100%;
    background: url('../images/Main_IMG_7411.jpg') no-repeat center;
    object-fit: contain;
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    overflow: hidden;  
}

@keyframes main-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.1);}
}

#cover-image {
     width: 226px;
     height: 301px;
     padding-left: 20px;
     bottom: 0px;
     right: 100px;
     position:absolute;
     background-color: #FEE715FF;
     background: url('../images/IMG_9429_300225.jpg') no-repeat center center;
}

/* section 2 */

#section2 {
    height: 200px;
    padding-top: 50px;
}

#osc1 {
        background: url('../images/IMG_0343_400400.jpg') no-repeat center center;
        height: 300px;
        width: 33%;
        float: left;
}
#osc2 {
    background: url('../images/IMG_8897_400400.jpg') no-repeat center center;
    width: 33%;
    height: 300px;
    float: right;
    
}

#center-text {
    width: 33%;
    height: 300px;
    margin: 0 auto;
    color: #FEE715FF;  
}

/* section 3 */

.section3 {
    padding-top: 100px;
    padding-bottom: 50px;
    height: 300px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;}

.form {
    width: 24%;
}

/* footer */

footer {
    background-color: #101820FF;
    text-align: center;
    padding-top: 10px;
}

footer > p {
    color:#FEE715FF;
    text-align: right;
}

.social-networks {
    text-align: center;}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
}

/* gallery */

#photos {
    padding-top: 100px;
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media queries */

@media screen and (max-width: 1450px) {
    #section2 {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #center-text {
        padding: 30px 0;
        margin: 0;
    }
    #osc1, #osc2 {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-text {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        overflow: visible;
    }
}

@media screen and (max-width: 950px) {
    #menu {
       left: 0; 
    }
    #cover-image {
        left: 0;
    }
    #section2 {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    } 
    .osc1, .osc2 {
        width: inherit;
        text-align: center;
        padding: 0 10px;
    }
    }
   
    @media screen and (max-width: 750px) {
    #photos {
        column-count: 2;
    }

    .page-header {
        height: 50px;
        width: 100%;
        overflow:visible;
        position: relative;
    }
    }
    
@media screen and (max-width: 736px) {

    #photos {
        column-count: 1;
    }
    #menu {
        left: 0;
        max-width: fit-content;
        letter-spacing: 2px;
        line-height: 90px;   
     }

    .page-header {
        height: 50px;
        width: 100%;
        overflow:visible;
        position: relative;
    }    
}

input[type=submit] {
    background-color: #FEE715FF;
    border: none;
    color: #101820FF;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.table_border {
    border: 1px solid #ece9e9;
    border-radius: 7px;
  }