@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {font-family: 'Merriweather Sans', sans-serif;
      font-weight: 300;
      color: #0A2B38;
      margin: 0;
      padding: 0;
      border: none;
}

/* title and menu */
h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FD6B1C;
}
#logo {
      float: left;
      font-size: 250%;
      margin-left: 30px; 
}

#menu {
      font-size: 200%;
      letter-spacing: 3px;       
}

#menu, #logo {
      line-height: 90px;
}

#menu li {
      float: right;
      list-style-type: none;
      margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FD6B1C;
}

.selected {
    border-bottom: 1px solid #FD6B1C;
}

/*section 1 */

#main-outer {
    height: 300px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#main-image {
    height: 300px;
    width: 100%;
    background: url('../images/Main_IMG_7411.jpg') no-repeat center;
    object-fit: contain;
    animation-name: main-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;  
}

@keyframes main-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.1);}
}

.text {color:#0A2B38;}

.text-center {
    text-align: center;
}

p {
    color:#fd6b1c;
}

#map-wrapper {
    height: 300px;
    margin-bottom: 300px;}

footer {
    background-color: #0A2B38;
    text-align: center;
}

.social-networks {
    text-align: center;}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
}

.page-header {
    background-color: #3886A4;
    height: auto;
    background: center 75% / cover no-repeat;
    height: 150px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#osc1 {
        background: url('../images/IMG_0343\ 400400.jpg') no-repeat center center;
        height: 300px;
        width: 25%;
        float: left;
        
}
#osc2 {
    background: url('../images/IMG_8897\ 400400.jpg') no-repeat center center;
    width: 25%;
    height: 300px;
    float: right;
}

#center-about {
    width: 300px;
    height: 300px;
    margin: 0 auto;}


    /* section 3 */

    #map {
        height: 300px;
        width: 100%;
        border: none;
    }